body{
    font-family: "Roboto" , sans-serif;
}
.head{
    background: #3e3939;

}
.head_menu>.navbar{
    background: #3e3939;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #fce42c;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");               
}
.navbar-light .navbar-toggler{
    border: 1px solid rgba(255, 255, 255, .5);
}
.phone_number>span{
    display: block;
    color: #fce42c;
    margin-left: 90px;
    font-size: 18px; 
}
.phone>span{
    display: inline-block;
    text-align: center;
    margin: 0;
}
.img_lamp{
    text-align: center;
}
.about_lamp{
    text-align: justify;
    padding-left: 10px;
    padding-top: 40px;
}
.about_lamp>h3{
    font-size: 30px;
    color:#3e3939; 
    text-transform:  uppercase;
}
.about_lamp>span{
    font-size: 16px;
}
.sidebar{
    background: url(../img/MyCollages.jpg);
    background-size: 50%;
    position: relative;
    padding-bottom: 25px;
}
.sidebar:before{
    margin-left: -15px;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.85);
}
.formFeedback{
    margin-top: 25px;
}
.btn{
    background: #fce42c;
    text-align: center;
    border-radius: 20px;
    color: #3e3939
}
.btn:hover{
    color: #fff;
}
.formFeedback h4{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    color: #3e3939;
}
.formFeedback h4>span{
    font-weight:bold;
    color: crimson;
    font-size: 30px;
}
.content h3{
    color: #3e3939;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 30px 0;
}
.content li>span{
    font-weight:bold;
    color: #3e3939;
    text-transform: uppercase;
    font-size: 14px;
}
.content li{
    padding-left: 17px;
    position: relative;
    text-align: justify;
    font-size: 14px;
    list-style-type: none;
}
.content li:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background:url(../img/sprite/2.png);
    margin-top: 3px;
    margin-left: -25px;
}
.imgPrivilege img{
    width: 115%;
    height: 115%;
}
.sales{
    background: #3e3939;
}
.sale{
    padding: 30px;
}
.img_sale{
    text-align: center;
    width: 100%;
    height: 100%;
}
.sale h3{
    padding: 40px 0;
    font-weight:bold;
    color:#fff;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
.set h6{
    color:#fff;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 25px;
    text-align: center;
}
.set li{
    color: #fce42c;
    text-transform: uppercase;
    font-size: 18px;  
}
.set li>span{
    color: #bbb26d;
}
.set>span{
    color: #fff;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
}
.set>span>p{
    padding: 20px;
    display: inline;
    font-size: 27px;
    text-transform: uppercase;
    color: #bbb26d;
    text-decoration: line-through;
}
.set>span>p+p{
    color: #de4141;
    text-decoration: none;
    font-weight:bold;
    font-size: 35px;
    padding: 40px;
}
.set>p{
    color: #bbb26d;
    font-size: 20px;
    margin-top: 20px;
}
.sales label{
    color: #fff;
    font-size: 18px;
}
.payment h3{
    color: #3e3939;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 60px 0 90px 0;
}
.payment h6{
    color: #3e3939;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    position: relative;
    margin-bottom: 25px;
}
.payment h6:before{
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    display: block;
    background: url(../img/sprite/badge.png);
    top: -25px;
    left: 30px;
}
.payment ul+ul h6:before{
    background: url(../img/sprite/credit-card.png);
    top: -25px;
    left: 5px;
}
.payment li{
    color:#3e3939;
    font-size: 16px;
    text-transform: none;
    text-align: justify;
    list-style-type: none;
    padding-bottom: 15px;
}
.payment li>p{
    display: inline;
    font-weight:bold;
}


.delivery h3{
    color: #3e3939;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 0 0 90px 0;
}
.delivery h6{
    color: #3e3939;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    position: relative;
    margin-bottom: 25px;
}
.delivery h6:before{
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    display: block;
    background: url(../img/sprite/truck.png);
    top: -17px;
    left: 89px;
}
.delivery ul+ul h6:before{
    background: url(../img/sprite/truck1.png);
    top: -17px;
    left: 12px;
}
.delivery li{
    color:#3e3939;
    font-size: 16px;
    text-transform: none;
    text-align: justify;
    list-style-type: none;
    padding-bottom: 15px;
}
.delivery li>p{
    display: inline;
    font-weight:bold;
}
.delivery span{
    color:#3e3939;
    font-size: 25px;
}
.delivery span>p{
    font-size: 18px;
    margin: 0;
}
.footer{
    margin-top: 30px;
    background:#3e3939;
}
.logo_footer{
    padding: 25px 0;
}
.copyright{
    padding-top: 25px;
    color: #fce42c;
    text-align: center;
}
.phone_footer{
    padding-top: 25px;
    color: #fce42c;
    text-align: right;
}
.phone_footer>span{
    display: block;
}
